<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shinden Client 3.1.0</title>
    <script type="module" src="../scripts/favorite.ts"></script>
</head>
<body>
    <div class="mainContainer">
        <div class="windowNavBar">
            <div class="logoLoading">
                <h1 class="logo">
                    Shinden Client 3.1
                </h1>
                <div class="loading">
                    <svg version="1.1" id="L9" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 100 100" enable-background="new 0 0 0 0" xml:space="preserve">
                        <path fill="#fff" d="M73,50c0-12.7-10.3-23-23-23S27,37.3,27,50 M30.9,50c0-10.5,8.5-19.1,19.1-19.1S69.1,39.5,69.1,50">
                        <animateTransform 
                            attributeName="transform" 
                            attributeType="XML" 
                            type="rotate"
                            dur="1s" 
                            from="0 50 50"
                            to="360 50 50" 
                            repeatCount="indefinite" />
                        </path>
                    </svg>
                </div>
            </div>
            <div class="windowButtons">
                <ul class="links">
                    <li>
                        <a href="./home.html">Wyszukiwarka</a>
                    </li>
                    <li>
                        <a href="./favorite.html">Ulubione</a>
                    </li>
                    <li>
                        <a href="./update.html">Aktualizacje</a>
                    </li>
                    <li>
                        <a href="./login.html">Logowanie</a>
                    </li>
                </ul>
                <div id="min">&#95;</div>
                <div id="close">&#10006;</div>
            </div>
        </div>
        <main class="searchResultsMain">
            <nav>
                <a onclick="history.back();" href="#">- Powrót -</a>
            </nav>
            <h2>Lista ulubionych:</h1>
            <h2 class="noResults" style="display: none;">Brak wyników !</h1>
            <table id="animeTable">
                <tr>
                    <th>Okładka</th>
                    <th>Nazwa</th>
                    <th>Typ</th>
                    <th>Epizody</th>
                    <th>Ocena</th>
                </tr>
            </table>
        </main>
    </div>
</body>
</html>