<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shinden Client <span id="version">3.0</span></title>
    <link rel="stylesheet" href="../index.css">
    <script type="module" src="../js/home.js"></script>
</head>
<body>
    <div class="mainContainer">
        <div class="windowNavBar">
            <h1 class="logo">Shinden Client 3.0</h1>
            <div class="windowButtons">
                <ul class="links">
                    <li>
                        <a href="./home.html">Wyszukiwarka</a>
                    </li>
                    <li>
                        <a href="./home.html">Ustawienia</a>
                    </li>
                    <li>
                        <a href="./home.html">Ulubione</a>
                    </li>
                </ul>
                <div id="min">&#95;</div>
                <div id="close">&#10006;</div>
            </div>
        </div>
        <main class="homeMain">
            <div class="content">
                <img draggable="false" src="../img/killua.png" alt="">
                <div class="text">
                    <h2>Wpisz nazwę anime:</h2>
                    <form class="searchBox">
                        <input type="text" name="animeName" id="animeName">
                        <button type="submit" id="searchButton">WYSZUKAJ</div>
                    </form>
                </div>
            </div>
        </main>
    </div>
</body>
</html>