@import url("https://fonts.googleapis.com/css2?family=Island+Moments&family=Lato&family=Tilt+Warp&display=swap");
.windowNavBar {
  height: 40px;
  width: 100%;
  background: #04293A;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-app-region: drag;
}
.windowNavBar .windowButtons {
  color: white;
  font-size: 2rem;
  -webkit-app-region: no-drag;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}
.windowNavBar .windowButtons ul.links {
  display: flex;
  padding: 0 5rem;
  font-size: 1.5rem;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
.windowNavBar .windowButtons ul.links li a {
  color: white;
  text-decoration: none;
  font-family: var(--text-font-family);
}
.windowNavBar .windowButtons ul.links li a:visited {
  color: white;
}
.windowNavBar .windowButtons #min, .windowNavBar .windowButtons #close {
  cursor: pointer;
}

.logo {
  font-family: var(--logo-font-family);
  color: var(--logo-color);
  font-size: 3rem;
  font-weight: bold;
  color: #ECB365;
}

main.homeMain {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main.homeMain .content {
  box-shadow: 0px 0px 12px 0px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  background: #0D2149;
  border-radius: 50% 0 50% 0;
}
main.homeMain .content .text {
  flex: 2;
  font-family: var(--text-font-family);
  color: white;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main.homeMain .content .text h2 {
  font-weight: 400;
  font-size: 3rem;
  margin-right: 2rem;
  border-bottom: 2px solid white;
  padding-bottom: 1rem;
}
main.homeMain .content .text .searchBox {
  display: flex;
  gap: 1rem;
  align-items: center;
}
main.homeMain .content .text .searchBox input {
  margin: 1rem 0;
}
main.homeMain .content .text .searchBox #searchButton {
  font-size: 1.5rem;
  cursor: pointer;
}

input[type=text] {
  padding: 1rem;
  width: 20rem;
  border-radius: 0;
  border: 1px solid black;
}

input {
  outline: none;
}

button {
  color: white;
  border: none;
  background: none;
}

#favButton {
  color: #ECB365;
  cursor: pointer;
}

.searchResultsMain {
  overflow-y: auto;
  font-family: var(--text-font-family);
  color: white;
  padding: 0rem 1rem 1rem 1rem;
}
.searchResultsMain nav {
  padding-top: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.searchResultsMain nav a {
  text-decoration: none;
}
.searchResultsMain h2 {
  padding: 1rem 0;
  font-weight: 400;
  font-size: 2rem;
}
.searchResultsMain::-webkit-scrollbar {
  width: 10px;
}
.searchResultsMain::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
.searchResultsMain::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}
.searchResultsMain::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
.searchResultsMain table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.searchResultsMain table th {
  font-size: 1.5rem;
}
.searchResultsMain table td, .searchResultsMain table th {
  border: black 2px solid;
  padding: 1rem;
}
.searchResultsMain table td {
  font-size: 2rem;
  word-wrap: break-word;
}
.searchResultsMain table img {
  width: 10rem;
}

.loading {
  width: 5rem;
  height: 5rem;
}

.logoLoading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.animeMain {
  font-family: var(--text-font-family);
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.animeMain nav {
  padding: 0.5rem 0 0 1rem;
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.animeMain nav a {
  text-decoration: none;
}
.animeMain ol {
  font-size: 1.5rem;
  color: var(--main-text-color);
  list-style-position: inside;
  overflow-y: scroll;
  padding: 1rem;
  height: 100%;
}
.animeMain ol::-webkit-scrollbar {
  width: 10px;
}
.animeMain ol::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
.animeMain ol::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}
.animeMain ol::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
.animeMain ol li {
  padding: 1rem;
}
.animeMain .imageContainer {
  padding: 1rem;
  flex: 1;
}
.animeMain .imageContainer img {
  width: 28rem;
  height: 38rem;
  -o-object-fit: cover;
     object-fit: cover;
  border: #064663 solid 2px;
}
.animeMain .episodesList {
  flex: 2;
  flex-direction: column;
  display: flex;
}
.animeMain .botSection {
  display: flex;
  flex: 1;
  font-size: 1.5rem;
  border-top: black 2px solid;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  justify-self: stretch;
  align-self: stretch;
  overflow-y: scroll;
}
.animeMain .botSection::-webkit-scrollbar {
  width: 10px;
}
.animeMain .botSection::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
.animeMain .botSection::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}
.animeMain .botSection::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
.animeMain .topSection {
  width: 100%;
  height: 60%;
  flex: 2;
  display: flex;
  flex-direction: row;
}
.animeMain .title {
  padding: 1rem;
  align-self: center;
}
.animeMain hr {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.playersMain {
  overflow-y: auto;
  font-family: var(--text-font-family);
  color: white;
  padding: 0 1rem 1rem 1rem;
}
.playersMain nav {
  padding: 0.5rem 0 0 0;
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.playersMain nav a {
  text-decoration: none;
}
.playersMain h2 {
  padding: 1rem 0;
  font-weight: 400;
  font-size: 2rem;
}
.playersMain::-webkit-scrollbar {
  width: 10px;
}
.playersMain::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
.playersMain::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}
.playersMain::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}
.playersMain table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.playersMain table th {
  font-size: 1.5rem;
}
.playersMain table td, .playersMain table th {
  border: black 2px solid;
  padding: 1rem;
}
.playersMain table td {
  font-size: 2rem;
  word-wrap: break-word;
}

.playerMain {
  font-family: var(--text-font-family);
  color: white;
  padding: 0 1rem 1rem 1rem;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  transition: all 2s ease;
  overflow: hidden;
  background: black;
  font-size: 1.5rem;
}
.playerMain nav {
  padding: 0.5rem 0 0 0;
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.playerMain nav a {
  text-decoration: none;
}
.playerMain .videoPlayerContainer {
  margin: auto;
  border: #ECB365 2px solid;
}

.updateMain {
  overflow-y: auto;
  font-family: var(--text-font-family);
  color: white;
  padding: 0rem 1rem 1rem 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.updateMain nav {
  padding-top: 0.5rem;
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.updateMain nav a {
  text-decoration: none;
}
.updateMain .update {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
}
.updateMain .update h2 {
  font-size: 2.5rem;
}
.updateMain .update #status {
  padding: 1rem;
}
.updateMain::-webkit-scrollbar {
  width: 10px;
}
.updateMain::-webkit-scrollbar-corner {
  background: rgba(0, 0, 0, 0);
}
.updateMain::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 6px;
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: content-box;
  min-width: 32px;
  min-height: 32px;
}
.updateMain::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
}

.loginMain {
  font-family: var(--text-font-family);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.loginMain h2 {
  font-weight: 400;
  font-size: 2.5rem;
  padding: 1rem;
}
.loginMain p {
  font-size: 2rem;
  text-align: center;
}
.loginMain form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.loginMain form input {
  font-size: 1.5rem;
  width: 300px;
  padding: 0.5rem;
}
.loginMain button {
  background: gray;
  border: black 2px solid;
  cursor: pointer;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: black;
}
.loginMain button:hover {
  border-color: white;
}
.loginMain .loginInfo {
  font-size: 2rem;
}
.loginMain .loginInfo h2 {
  text-align: center;
}

:root {
  --logo-font-family: "Island Moments", cursive;
  --logo-color: white;
  --text-font-family: "Lato", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mainContainer {
  display: grid;
  grid-template-rows: 40px 660px;
  height: 100%;
  background: #041C32;
}

img {
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

a {
  color: #ECB365;
}/*# sourceMappingURL=index.css.map */